---
import { Image } from "astro:assets";
import { getLocale, t, getLocalePath } from "i18n:astro";
import Layout from "../layouts/Layout.astro";
import Owl from "../components/Owl.astro";

import assuntaLogo from "../images/assunta.png";
import assuntaStill from "../images/assunta_still.jpg";
import assuntaVideoMp4 from "../videos/assunta_web.mp4";
import assuntaVideoWebm from "../videos/assunta_web.webm";

import alettaLogo from "../images/aletta.png";
import alettaStill from "../images/aletta_still.jpg";
import alettaVideoMp4 from "../videos/aletta_web.mp4";
import alettaVideoWebm from "../videos/aletta_web.webm";

const locale = getLocale();
const lang = locale;
const greeting = t("common:greeting");
const assuntaLink = getLocalePath("/assunta/");
const alettaLink = getLocalePath("/aletta/");
---

<Layout>
  <Owl title={t("index:mainTitle")} />
  <main class="container">
    <div class="product assunta">
      <a href={assuntaLink}>
        <Image src={assuntaLogo} alt="Assunta" height={100} />
      </a>
      <video muted poster={assuntaStill.src} controls>
        <source src={assuntaVideoMp4} type="video/mp4" />
        <source src={assuntaVideoWebm} type="video/webm" />
      </video>
    </div>
    <div class="product aletta">
      <a href={alettaLink}>
        <Image src={alettaLogo} alt="Aletta" height={70} />
      </a>
      <video muted poster={alettaStill.src} controls>
        <source src={alettaVideoMp4} type="video/mp4" />
        <source src={alettaVideoWebm} type="video/webm" />
      </video>
    </div>
  </main>
</Layout>
<style>
  main {
    padding-block: var(--spacing-600);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);

    & .product {
      & a {
        display: inline-block;
        text-transform: none;

        &:hover {
          opacity: 0.75;
        }
      }

      & video {
        margin-top: var(--spacing-600);
      }
    }
  }

  @media (min-width: 500px) {
    main {
      & .product {
        & video {
          margin-inline: auto;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    main {
      flex-direction: row;
      gap: var(--spacing-700);

      & .product {
        flex-grow: 1;

        & img {
          height: 100px;
          object-fit: contain;
        }
      }
    }
  }
</style>
